.container {
    margin: 30px auto;
    width: 350px;
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    text-align: center;
}

.h2 {
    border-bottom: 1px solid #bbb;
    padding-bottom: 10px;
    margin: 40px 0 10px;
    text-align: left;
}

.textfield {
    width: 100%;
    padding: 10px;
}

.submit-container {
    margin-top: 10px;
}
