.App {
    box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.transactionApp {
    width: 350px;
    margin: auto;
}

.h2 {
    border-bottom: 1px solid #bbb;
    padding-bottom: 10px;
    margin: 40px 0 10px;
    text-align: left;
}

ul {
    list-style: none;
    padding-left: 0px;
}
