.App {
    box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.transactionApp {
    width: 350px;
    margin: auto;
}
